web/WEB-INF/wsdl/localhost_8080/Servicios_sistema_ludico/Listas_sistema.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Servicios/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Servicios/" name="Listas_sistema">
<types>
<xsd:schema>
<xsd:import namespace="http://Servicios/" schemaLocation="http://localhost:8080/Servicios_sistema_ludico/Listas_sistema?xsd=1"/>
</xsd:schema>
</types>
<message name="Informacion_alumnos">
<part name="parameters" element="tns:Informacion_alumnos"/>
</message>
<message name="Informacion_alumnosResponse">
<part name="parameters" element="tns:Informacion_alumnosResponse"/>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"/>
</message>
<message name="Listado_preguntas">
<part name="parameters" element="tns:Listado_preguntas"/>
</message>
<message name="Listado_preguntasResponse">
<part name="parameters" element="tns:Listado_preguntasResponse"/>
</message>
<message name="Profesor_info">
<part name="parameters" element="tns:Profesor_info"/>
</message>
<message name="Profesor_infoResponse">
<part name="parameters" element="tns:Profesor_infoResponse"/>
</message>
<message name="Historial">
<part name="parameters" element="tns:Historial"/>
</message>
<message name="HistorialResponse">
<part name="parameters" element="tns:HistorialResponse"/>
</message>
<message name="info_alumno">
<part name="parameters" element="tns:info_alumno"/>
</message>
<message name="info_alumnoResponse">
<part name="parameters" element="tns:info_alumnoResponse"/>
</message>
<message name="Lista_profesores">
<part name="parameters" element="tns:Lista_profesores"/>
</message>
<message name="Lista_profesoresResponse">
<part name="parameters" element="tns:Lista_profesoresResponse"/>
</message>
<message name="Listar_juegos">
<part name="parameters" element="tns:Listar_juegos"/>
</message>
<message name="Listar_juegosResponse">
<part name="parameters" element="tns:Listar_juegosResponse"/>
</message>
<portType name="Listas_sistema">
<operation name="Informacion_alumnos">
<input wsam:Action="http://Servicios/Listas_sistema/Informacion_alumnosRequest" message="tns:Informacion_alumnos"/>
<output wsam:Action="http://Servicios/Listas_sistema/Informacion_alumnosResponse" message="tns:Informacion_alumnosResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://Servicios/Listas_sistema/Informacion_alumnos/Fault/Exception"/>
</operation>
<operation name="Listado_preguntas">
<input wsam:Action="http://Servicios/Listas_sistema/Listado_preguntasRequest" message="tns:Listado_preguntas"/>
<output wsam:Action="http://Servicios/Listas_sistema/Listado_preguntasResponse" message="tns:Listado_preguntasResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://Servicios/Listas_sistema/Listado_preguntas/Fault/Exception"/>
</operation>
<operation name="Profesor_info">
<input wsam:Action="http://Servicios/Listas_sistema/Profesor_infoRequest" message="tns:Profesor_info"/>
<output wsam:Action="http://Servicios/Listas_sistema/Profesor_infoResponse" message="tns:Profesor_infoResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://Servicios/Listas_sistema/Profesor_info/Fault/Exception"/>
</operation>
<operation name="Historial">
<input wsam:Action="http://Servicios/Listas_sistema/HistorialRequest" message="tns:Historial"/>
<output wsam:Action="http://Servicios/Listas_sistema/HistorialResponse" message="tns:HistorialResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://Servicios/Listas_sistema/Historial/Fault/Exception"/>
</operation>
<operation name="info_alumno">
<input wsam:Action="http://Servicios/Listas_sistema/info_alumnoRequest" message="tns:info_alumno"/>
<output wsam:Action="http://Servicios/Listas_sistema/info_alumnoResponse" message="tns:info_alumnoResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://Servicios/Listas_sistema/info_alumno/Fault/Exception"/>
</operation>
<operation name="Lista_profesores">
<input wsam:Action="http://Servicios/Listas_sistema/Lista_profesoresRequest" message="tns:Lista_profesores"/>
<output wsam:Action="http://Servicios/Listas_sistema/Lista_profesoresResponse" message="tns:Lista_profesoresResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://Servicios/Listas_sistema/Lista_profesores/Fault/Exception"/>
</operation>
<operation name="Listar_juegos">
<input wsam:Action="http://Servicios/Listas_sistema/Listar_juegosRequest" message="tns:Listar_juegos"/>
<output wsam:Action="http://Servicios/Listas_sistema/Listar_juegosResponse" message="tns:Listar_juegosResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://Servicios/Listas_sistema/Listar_juegos/Fault/Exception"/>
</operation>
</portType>
<binding name="Listas_sistemaPortBinding" type="tns:Listas_sistema">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="Informacion_alumnos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="Listado_preguntas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="Profesor_info">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="Historial">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="info_alumno">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="Lista_profesores">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="Listar_juegos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
</binding>
<service name="Listas_sistema">
<port name="Listas_sistemaPort" binding="tns:Listas_sistemaPortBinding">
<soap:address location="http://localhost:8080/Servicios_sistema_ludico/Listas_sistema"/>
</port>
</service>
</definitions>