web/WEB-INF/wsdl/localhost_8080/Servicios_sistema_ludico/Servicios_web.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Servicios/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Servicios/" name="Servicios_web">
<types>
<xsd:schema>
<xsd:import namespace="http://Servicios/" schemaLocation="http://localhost:8080/Servicios_sistema_ludico/Servicios_web?xsd=1"/>
</xsd:schema>
</types>
<message name="Actualizar_datos">
<part name="parameters" element="tns:Actualizar_datos"/>
</message>
<message name="Actualizar_datosResponse">
<part name="parameters" element="tns:Actualizar_datosResponse"/>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"/>
</message>
<message name="Login_Sistema">
<part name="parameters" element="tns:Login_Sistema"/>
</message>
<message name="Login_SistemaResponse">
<part name="parameters" element="tns:Login_SistemaResponse"/>
</message>
<message name="Eliminar_alumno">
<part name="parameters" element="tns:Eliminar_alumno"/>
</message>
<message name="Eliminar_alumnoResponse">
<part name="parameters" element="tns:Eliminar_alumnoResponse"/>
</message>
<message name="traer_pregunta">
<part name="parameters" element="tns:traer_pregunta"/>
</message>
<message name="traer_preguntaResponse">
<part name="parameters" element="tns:traer_preguntaResponse"/>
</message>
<message name="Calcular_resultado">
<part name="parameters" element="tns:Calcular_resultado"/>
</message>
<message name="Calcular_resultadoResponse">
<part name="parameters" element="tns:Calcular_resultadoResponse"/>
</message>
<message name="Registro_usuario_alumno">
<part name="parameters" element="tns:Registro_usuario_alumno"/>
</message>
<message name="Registro_usuario_alumnoResponse">
<part name="parameters" element="tns:Registro_usuario_alumnoResponse"/>
</message>
<message name="Registro_usuario_administrador">
<part name="parameters" element="tns:Registro_usuario_administrador"/>
</message>
<message name="Registro_usuario_administradorResponse">
<part name="parameters" element="tns:Registro_usuario_administradorResponse"/>
</message>
<message name="actualizar_alumno">
<part name="parameters" element="tns:actualizar_alumno"/>
</message>
<message name="actualizar_alumnoResponse">
<part name="parameters" element="tns:actualizar_alumnoResponse"/>
</message>
<message name="Registro_usuario_profesor">
<part name="parameters" element="tns:Registro_usuario_profesor"/>
</message>
<message name="Registro_usuario_profesorResponse">
<part name="parameters" element="tns:Registro_usuario_profesorResponse"/>
</message>
<message name="guardar_notas">
<part name="parameters" element="tns:guardar_notas"/>
</message>
<message name="guardar_notasResponse">
<part name="parameters" element="tns:guardar_notasResponse"/>
</message>
<message name="listar_alumnos">
<part name="parameters" element="tns:listar_alumnos"/>
</message>
<message name="listar_alumnosResponse">
<part name="parameters" element="tns:listar_alumnosResponse"/>
</message>
<message name="Agregar_pregunta">
<part name="parameters" element="tns:Agregar_pregunta"/>
</message>
<message name="Agregar_preguntaResponse">
<part name="parameters" element="tns:Agregar_preguntaResponse"/>
</message>
<message name="Actualizar">
<part name="parameters" element="tns:Actualizar"/>
</message>
<message name="ActualizarResponse">
<part name="parameters" element="tns:ActualizarResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="eliminar_pregunta">
<part name="parameters" element="tns:eliminar_pregunta"/>
</message>
<message name="eliminar_preguntaResponse">
<part name="parameters" element="tns:eliminar_preguntaResponse"/>
</message>
<portType name="Servicios_web">
<operation name="Actualizar_datos">
<input wsam:Action="http://Servicios/Servicios_web/Actualizar_datosRequest" message="tns:Actualizar_datos"/>
<output wsam:Action="http://Servicios/Servicios_web/Actualizar_datosResponse" message="tns:Actualizar_datosResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://Servicios/Servicios_web/Actualizar_datos/Fault/Exception"/>
</operation>
<operation name="Login_Sistema">
<input wsam:Action="http://Servicios/Servicios_web/Login_SistemaRequest" message="tns:Login_Sistema"/>
<output wsam:Action="http://Servicios/Servicios_web/Login_SistemaResponse" message="tns:Login_SistemaResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://Servicios/Servicios_web/Login_Sistema/Fault/Exception"/>
</operation>
<operation name="Eliminar_alumno">
<input wsam:Action="http://Servicios/Servicios_web/Eliminar_alumnoRequest" message="tns:Eliminar_alumno"/>
<output wsam:Action="http://Servicios/Servicios_web/Eliminar_alumnoResponse" message="tns:Eliminar_alumnoResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://Servicios/Servicios_web/Eliminar_alumno/Fault/Exception"/>
</operation>
<operation name="traer_pregunta">
<input wsam:Action="http://Servicios/Servicios_web/traer_preguntaRequest" message="tns:traer_pregunta"/>
<output wsam:Action="http://Servicios/Servicios_web/traer_preguntaResponse" message="tns:traer_preguntaResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://Servicios/Servicios_web/traer_pregunta/Fault/Exception"/>
</operation>
<operation name="Calcular_resultado">
<input wsam:Action="http://Servicios/Servicios_web/Calcular_resultadoRequest" message="tns:Calcular_resultado"/>
<output wsam:Action="http://Servicios/Servicios_web/Calcular_resultadoResponse" message="tns:Calcular_resultadoResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://Servicios/Servicios_web/Calcular_resultado/Fault/Exception"/>
</operation>
<operation name="Registro_usuario_alumno">
<input wsam:Action="http://Servicios/Servicios_web/Registro_usuario_alumnoRequest" message="tns:Registro_usuario_alumno"/>
<output wsam:Action="http://Servicios/Servicios_web/Registro_usuario_alumnoResponse" message="tns:Registro_usuario_alumnoResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://Servicios/Servicios_web/Registro_usuario_alumno/Fault/Exception"/>
</operation>
<operation name="Registro_usuario_administrador">
<input wsam:Action="http://Servicios/Servicios_web/Registro_usuario_administradorRequest" message="tns:Registro_usuario_administrador"/>
<output wsam:Action="http://Servicios/Servicios_web/Registro_usuario_administradorResponse" message="tns:Registro_usuario_administradorResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://Servicios/Servicios_web/Registro_usuario_administrador/Fault/Exception"/>
</operation>
<operation name="actualizar_alumno">
<input wsam:Action="http://Servicios/Servicios_web/actualizar_alumnoRequest" message="tns:actualizar_alumno"/>
<output wsam:Action="http://Servicios/Servicios_web/actualizar_alumnoResponse" message="tns:actualizar_alumnoResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://Servicios/Servicios_web/actualizar_alumno/Fault/Exception"/>
</operation>
<operation name="Registro_usuario_profesor">
<input wsam:Action="http://Servicios/Servicios_web/Registro_usuario_profesorRequest" message="tns:Registro_usuario_profesor"/>
<output wsam:Action="http://Servicios/Servicios_web/Registro_usuario_profesorResponse" message="tns:Registro_usuario_profesorResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://Servicios/Servicios_web/Registro_usuario_profesor/Fault/Exception"/>
</operation>
<operation name="guardar_notas">
<input wsam:Action="http://Servicios/Servicios_web/guardar_notasRequest" message="tns:guardar_notas"/>
<output wsam:Action="http://Servicios/Servicios_web/guardar_notasResponse" message="tns:guardar_notasResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://Servicios/Servicios_web/guardar_notas/Fault/Exception"/>
</operation>
<operation name="listar_alumnos">
<input wsam:Action="http://Servicios/Servicios_web/listar_alumnosRequest" message="tns:listar_alumnos"/>
<output wsam:Action="http://Servicios/Servicios_web/listar_alumnosResponse" message="tns:listar_alumnosResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://Servicios/Servicios_web/listar_alumnos/Fault/Exception"/>
</operation>
<operation name="Agregar_pregunta">
<input wsam:Action="http://Servicios/Servicios_web/Agregar_preguntaRequest" message="tns:Agregar_pregunta"/>
<output wsam:Action="http://Servicios/Servicios_web/Agregar_preguntaResponse" message="tns:Agregar_preguntaResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://Servicios/Servicios_web/Agregar_pregunta/Fault/Exception"/>
</operation>
<operation name="Actualizar">
<input wsam:Action="http://Servicios/Servicios_web/ActualizarRequest" message="tns:Actualizar"/>
<output wsam:Action="http://Servicios/Servicios_web/ActualizarResponse" message="tns:ActualizarResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://Servicios/Servicios_web/Actualizar/Fault/Exception"/>
</operation>
<operation name="hello">
<input wsam:Action="http://Servicios/Servicios_web/helloRequest" message="tns:hello"/>
<output wsam:Action="http://Servicios/Servicios_web/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="eliminar_pregunta">
<input wsam:Action="http://Servicios/Servicios_web/eliminar_preguntaRequest" message="tns:eliminar_pregunta"/>
<output wsam:Action="http://Servicios/Servicios_web/eliminar_preguntaResponse" message="tns:eliminar_preguntaResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://Servicios/Servicios_web/eliminar_pregunta/Fault/Exception"/>
</operation>
</portType>
<binding name="Servicios_webPortBinding" type="tns:Servicios_web">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="Actualizar_datos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="Login_Sistema">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="Eliminar_alumno">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="traer_pregunta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="Calcular_resultado">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="Registro_usuario_alumno">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="Registro_usuario_administrador">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="actualizar_alumno">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="Registro_usuario_profesor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="guardar_notas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="listar_alumnos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="Agregar_pregunta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="Actualizar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminar_pregunta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
</binding>
<service name="Servicios_web">
<port name="Servicios_webPort" binding="tns:Servicios_webPortBinding">
<soap:address location="http://localhost:8080/Servicios_sistema_ludico/Servicios_web"/>
</port>
</service>
</definitions>